<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36179359791-6j1nmab1dk7cj8fa47gvt9i0a8d1a84o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36179359791-6j1nmab1dk7cj8fa47gvt9i0a8d1a84o</string>
	<key>API_KEY</key>
	<string>AIzaSyAiabIqjnNqer87a5jfLBWjQ_ZnwZErM9M</string>
	<key>GCM_SENDER_ID</key>
	<string>36179359791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chacknorisapplication</string>
	<key>PROJECT_ID</key>
	<string>chucknorrisapp-f7797</string>
	<key>STORAGE_BUCKET</key>
	<string>chucknorrisapp-f7797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36179359791:ios:8d909c29172aa2268aeeda</string>
</dict>
</plist>